.Header {
  border: 1px solid;
  border-left:none;
  border-right: none;
  border-top:none;
}

img {
    max-width: 100%;
    height: auto;
}

.mh-logo {
  flex-grow: 2;
}


.main-nav {
  flex-grow: 3;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  padding-top:15px;
}

.HeaderButton {
  text-transform: uppercase;
  font-size: 20px;
}

.header-link{
  text-decoration: none;
  color:black;
}

.header-container {
  width: 960px;
  max-width: 100%;
  margin-right:auto;
  margin-left: auto;
  padding: 20px;
  display:flex;
  justify-content: space-evenly;
}